node_modules

# Output
.output
.csv
.txt
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Python
*.pyc
__pycache__/


# Env 
.env
.env.*
!.env.example
!.env.test

# Generated internal files
**/internal.js
**/internal/
*.d.ts
!src/**/*.d.ts  # If you write your own declaration files in src/

# SvelteKit / Vite build outputs
.svelte-kit/
.vite/
node_modules/
build/
dist/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
