:root {
    --primary: #9BC2CB;;
    --secondary: #6c757d;
    --text: #000000;
    --bg: #ffffff;
  }
  
  .dark {
    --primary: #0d6efd;
    --secondary: #adb5bd;
    --text: #ffffff;
    --bg: #121212;
  }
  
  .colorblind {
    --primary: #f5793a; /* orange */
    --secondary: #85c0f9; /* light blue */
  }